<h3>Videos</h3>
<hr>
<ul class="list-group">
  <li routerLink=""
      routerLinkActive="active"       
      [routerLinkActiveOptions]="{ exact: true}"
      class="list-group-item"
  >
      Búsqueda
  </li>
  <li routerLink="videos"
      routerLinkActive="active" 
      class="list-group-item"
  >
      Videos
  </li>      
  <li routerLink="usuarios"
      routerLinkActive="active" 
      class="list-group-item"
  >
    Usuarios
  </li>      
  <li routerLink="login" 
      routerLinkActive="active" 
      class="list-group-item"
  >
    Login
  </li>
  <li routerLink="logout" 
      routerLinkActive="active" 
      class="list-group-item"
  >
    Logout
  </li>

</ul>

